<a href="https://colab.research.google.com/github/nathw2017/NwPython/blob/main/Copy_of_1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [ ]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  df = datatables[0]  #Glasgow population data
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

     Historical population of Glasgow and city limits  ...                                         Unnamed: 4
0   Historical population and city limits Year[76]...  ...                                                NaN
1                                            Year[76]  ...                                       Area changes
2                                                1300  ...                                            Initial
3                                                1600  ...                                            Unknown
4                                                1791  ...  Anderson to James Street/West Nile Street to C...
5                                                1831  ...                          Necropolis and Blythswood
6                                                1846  ...   Burghs of Anderston and Calton/Barony of Gorbals
7                                                1872  ...  Districts of Keppochhill, Alexandra Parade and...
8                                                1891  ...  Burghs of Govanhill, Crosshill, Pollokshields,...
9                                                1901  ...  Bellahouston Park and Craigton. Districts of B...
10                                               1912  ...  Burghs of Govan, Partick, Pollokshaws. Distric...
11                                               1921  ...                                          No change
12                                               1926  ...  Districts of Lambhill, Millerston, Aikenhead, ...
13                                               1938  ...  Districts of Balmuildy, Auchinairn, Cardowan, ...
14                                               1946  ...                                          No change
15                                               1951  ...                                          No change
16                                               1961  ...                                          No change
17                                               1971  ...                                          No change
18                                               1981  ...  Burghs of Rutherglen, Cambuslang, Mount Vernon...
19                                               1991  ...                              Minor boundary change
20                                               2001  ...  Rutherglen and Cambuslang transferred to South...
21                                               2011  ...                              Minor boundary change

[22 rows x 5 columns]

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [ ]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

KeyError: ignored

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [ ]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df

,regionid,dnoregion,shortname,generationmix,intensity.forecast,intensity.index
0,1,Scottish Hydro Electric Power Distribution,North Scotland,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",312,very high
1,2,SP Distribution,South Scotland,"[{'fuel': 'biomass', 'perc': 5.1}, {'fuel': 'c...",120,low
2,3,Electricity North West,North West England,"[{'fuel': 'biomass', 'perc': 6.2}, {'fuel': 'c...",110,low
3,4,NPG North East,North East England,"[{'fuel': 'biomass', 'perc': 13.7}, {'fuel': '...",79,low
4,5,NPG Yorkshire,Yorkshire,"[{'fuel': 'biomass', 'perc': 25.1}, {'fuel': '...",223,high
5,6,SP Manweb,North Wales & Merseyside,"[{'fuel': 'biomass', 'perc': 2.1}, {'fuel': 'c...",187,moderate
6,7,WPD South Wales,South Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",327,very high
7,8,WPD West Midlands,West Midlands,"[{'fuel': 'biomass', 'perc': 4.3}, {'fuel': 'c...",262,high
8,9,WPD East Midlands,East Midlands,"[{'fuel': 'biomass', 'perc': 6.4}, {'fuel': 'c...",325,very high
9,10,UKPN East,East England,"[{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'c...",164,moderate
10,11,WPD South West,South West England,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",272,high
11,12,SSE South,South England,"[{'fuel': 'biomass', 'perc': 2}, {'fuel': 'coa...",292,high
12,13,UKPN London,London,"[{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coa...",204,moderate
13,14,UKPN South East,South East England,"[{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'c...",218,high
14,15,England,England,"[{'fuel': 'biomass', 'perc': 5.8}, {'fuel': 'c...",204,moderate
15,16,Scotland,Scotland,"[{'fuel': 'biomass', 'perc': 2.4}, {'fuel': 'c...",195,moderate
16,17,Wales,Wales,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",307,high
17,18,GB,GB,"[{'fuel': 'biomass', 'perc': 5.2}, {'fuel': 'c...",214,high

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [ ]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  !rm data-selector-export.csv
  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['data-selector-export.csv']))
  return df

get_data()

Saving data-selector-export.csv to data-selector-export.csv

    Unnamed: 0   Thurrock Unnamed: 2
0         Date      Ozone     Status
1   01/08/2022   48.98612    P µg/m³
2   02/08/2022   26.70080    P µg/m³
3   03/08/2022   17.65363    P µg/m³
4   04/08/2022   52.54512    P µg/m³
5   05/08/2022   54.44935    P µg/m³
6   06/08/2022   60.13709    P µg/m³
7   07/08/2022   72.21108    P µg/m³
8   08/08/2022   63.26369    P µg/m³
9   09/08/2022   44.37938    P µg/m³
10  10/08/2022   61.83344    P µg/m³
11  11/08/2022   76.20248    P µg/m³
12  12/08/2022   90.23890    P µg/m³
13  13/08/2022   96.91618    P µg/m³
14  14/08/2022  105.38959    P µg/m³
15  15/08/2022   93.34887    P µg/m³
16  16/08/2022   67.36319    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"
df = pd.read_csv(url)
df

ValueError: ignored

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"
df = pd.read_excel(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154.0,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155.0,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156.0,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157.0,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158.0,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [ ]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional/wales"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['data'])
df

,from,to,generationmix,intensity.forecast,intensity.index
0,2022-08-17T10:00Z,2022-08-17T10:30Z,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",307,high